layout {
    pane_template name="default-with-time"{
        pane size=1 split_direction="vertical" {
            pane borderless=true {
                plugin location="zellij:tab-bar"
            }
        }
        pane size="100%" name=""
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    default-with-time
}
